.header {
   display: flex;
    height: 80px;
    border-bottom: 1px solid $color-header-border;
     &__list, &__contact {
      display: none;
     }
}


@media screen and (min-width:1200px) {
.header {
    display: flex;
    height: 80px;
    border-bottom: 1px solid $color-header-border;
    align-items: center;
        &__container {
           height: 80px;
           display: flex;
           align-items: center;
        }
        &__list {
           font-style: normal;
           font-weight: 500;
           font-size: 14px;
           list-style: none;
           display: flex;
           text-align: left;
           letter-spacing: 0.02em;
           gap: 46px;
           padding: 0;
           margin: 0;
           align-items: center;  
        }
        &__link {
           color: $color-dark;
           transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
           position: relative;
           text-decoration: none;
           display: flex;
           align-items: center;
            &:hover,
            &:focus {
            color: $color-blue;
            }
            &--active::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 44px;
            background: $color-blue;
            height: 4px;
            border-radius: 10px 10px 10px 10px;
            }
        }
        &__contact {
           list-style: none;
           display: flex;
           padding: 0;
           margin-left: 345px;
           & > li:nth-child(2) {
           padding-left: 50px;
           }
        }
        &__contact-link {
           text-decoration: none;
           font-weight: 500;
           display: flex;
           align-items: center;
           color: $color-gray-text;
           transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover, 
            &:focus {
            color: $color-blue;
            fill: currentColor;
            }
        }
        &__contact-icon {
           margin-right: 10px;
           fill: currentColor;
        }
}
}