.team {
    background-color: $color-background-second;
       &__list {
         list-style: none;
         padding: 0;
         margin-top: 30px;
       }
       &__item {
           width: 450px;
           height: 622px;
           text-align: center;
           background-color: $color-white;
           border: $color-white;
           border-radius: 0px 0px 4px 4px;
           box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
           padding-bottom: 30px;
           margin-top: 30px;
         }
         &__img {
            width: 450px;
            height: 460px;
         }
         &__workers {
           margin-top: 30px;
           text-align: center;
        }
        &__workers-name {
           color: $color-dark;
           font-size: 16px;
           font-weight: 500;
           line-height: 1.18;
           margin-bottom: 10px;
        }
        &__workers-profession {
           font-size: 16px;
           letter-spacing: 0.03em;
           line-height: 1.18;
           color: $color-gray-text;
           margin: 0;
        }
        &__social-media {
           list-style: none;
           display: flex;
           justify-content: space-between;
           padding: 0;
           fill: $color-gray-icon;
           margin-top: 16px;
           margin-left: 122px;
           margin-right: 122px;
        }
        &__item &__social-media-icon {
           display: flex;
           align-items: center;
           justify-content: center;
           padding: 0;
           width: 44px;
           height: 44px;
           box-shadow:none;
           border-radius: 50%;
}
}

@media screen and (min-width:768px) {
   .team{
      &__list {
         display: flex;
         flex-wrap: wrap;
         gap: 30px;
      }
      &__item {
         width: 354px;
         height: 536px;
         margin: 0;
      }
      &__img {
         width: 354px;
         height: 374px;
      }
      &__social-media {
         margin-left: 72px;
         margin-right: 72px;
      }
   }

}


@media screen and (min-width:1200px) {
   .team {
    background-color: $color-background-second;
    width: 1600px;
    height: 708px;
        &__list {
           list-style: none;
           display: flex;
           margin-top: 50px;
           margin-bottom: 124px;
           letter-spacing: 0.03em;
           justify-content: space-between;
           padding: 0;
        }
        &__item {
           text-align: center;
           background-color: $color-white;
           border: $color-white;
           border-radius: 0px 0px 4px 4px;
           box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
           padding-bottom: 30px;
           width: 270px;
           height: 428px;
        }
        &__img {
         width: 270px;
         height: 260px;
        }
        &__workers {
           margin-top: 30px;
           text-align: center;
        }
        &__workers-name {
           color: $color-dark;
           font-size: 16px;
           font-weight: 500;
           line-height: 1.18;
           margin-bottom: 10px;
        }
        &__workers-profession {
           font-size: 16px;
           letter-spacing: 0.03em;
           line-height: 1.18;
           color: $color-gray-text;
           margin: 0;
        }
        &__social-media {
           list-style: none;
           display: flex;
           justify-content: space-between;
           padding: 0;
           fill: $color-gray-icon;
           margin-top: 16px;
           margin-left: 32px;
           margin-right: 32px;
        }
        &__item &__social-media-icon {
           display: flex;
           align-items: center;
           justify-content: center;
           padding: 0;
           width: 44px;
           height: 44px;
           box-shadow:none;
           border-radius: 50%;
           cursor: pointer;
           transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
           background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        &__social-media-icon {
            &:hover,
            &:focus {
            fill: $color-white;
            background-color: $color-blue;
            }
        }
}
}