@media screen and (min-width: 320px) and (max-width: 1199px) {
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    min-height: 609px;
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        &__close-button {
           position: absolute;
           top: 8px;
           right: 8px;
           width: 30px;
           height: 30px;
           background-color: transparent;
           border: 1px solid rgba(0, 0, 0, 0.1);
           border-radius: 50%;
           cursor: pointer;
           padding: 6px 3px;
        }
        &__form {
           display: flex;
           flex-direction: column;
           font-size: 12px;
           margin: 40px;
           color: $color-gray-text;
              
           & label {
            position: relative;
           }
        }
        &__title {
           font-size: 20px;
           font-weight: 700;
           color:$color-dark;
           text-align: center;
           margin-bottom: 12px;
           margin-top: 0;
        }
        &__input {
           position: relative;
           margin-top: 4px;
           margin-bottom: 10px;
           border: 1px solid rgba(33, 33, 33, 0.2);
           border-radius: 4px;
           width: 100%;
           height: 40px;
           padding-left: 42px;
            &:focus {
            outline: none;
            border: 1px solid $color-blue;
            }
            &:focus + svg {
            fill: $color-blue;
            }
        }
        &__comment {
           position: relative;
           margin-top: 4px;
           margin-bottom: 10px;
           border: 1px solid rgba(33, 33, 33, 0.2);
           border-radius: 4px;
           width: 100%;
           height: 120px;
           padding: 12px 16px;
           resize: none;
            &::placeholder {
            color: rgba(117, 117, 117, 0.5);
            }
            &:focus {
            outline: none;
            border: 1px solid $color-blue;
            }
        }
        &__profile-icon {
            position: absolute;
            left: 15px;
            top: 32px;
        }
        &__phone-icon {
           position: absolute;
           left: 15px;
           top: 32px;
        }
        &__email-icon {
           position: absolute;
           left: 15px;
           top: 32px;
        }
        &__statement {
           display: flex;
           align-items: center;
           font-size: 12px;
           font-weight: 400;
           color: $color-gray-text;
           line-height: 1.7;
           letter-spacing: 0.03em;
           margin-top: 10px;
           margin-bottom: 30px;
           height:24px;
            & a {
            display: inline-flex;
            text-decoration: underline;
            color: $color-blue;
            font-size: 12px;
            font-weight: 400;
            margin-left: 3px;
            margin-right: 3px;
            }
            &::before {
            display: inline-block;
            content: "";
            width: 16px;
            height: 15px;
            border: 1px solid $color-dark;
            border-radius: 2px;
            margin-right: 8px;
            }
        }
        &__checkbox:checked + &__statement::before {
           background-color: $color-blue;
           border: none;
           background-image: url(../images/check-mark.svg);
           background-repeat: no-repeat;
           background-position: center;
        }
        &__submit {
           font-size: 16px;
           font-weight: 700;
           color: $color-white;
           background-color: $color-blue;
           width: 200px;
           height: 50px;
           border: none;
           box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
           border-radius: 4px;
           align-self: center;
           cursor: pointer;
           transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
            transform: scale(105%);
            }
        }
}
.is-hidden {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
}


@media screen and (min-width:1200px) {
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        &__close-button {
           position: absolute;
           top: 8px;
           right: 8px;
           width: 30px;
           height: 30px;
           background-color: transparent;
           border: 1px solid rgba(0, 0, 0, 0.1);
           border-radius: 50%;
           cursor: pointer;
           padding: 6px 3px;
        }
        &__form {
           display: flex;
           flex-direction: column;
           font-size: 12px;
           margin: 40px;
           width: 448px;
           color: $color-gray-text;
              
           & label {
            position: relative;
           }
        }
        &__title {
           font-size: 20px;
           font-weight: 700;
           color:$color-dark;
           text-align: center;
           margin-bottom: 12px;
           margin-top: 0;
        }
        &__input {
           position: relative;
           margin-top: 4px;
           margin-bottom: 10px;
           border: 1px solid rgba(33, 33, 33, 0.2);
           border-radius: 4px;
           width: 100%;
           height: 40px;
           padding-left: 42px;
            &:focus {
            outline: none;
            border: 1px solid $color-blue;
            }
            &:focus + svg {
            fill: $color-blue;
            }
        }
        &__comment {
           position: relative;
           margin-top: 4px;
           margin-bottom: 10px;
           border: 1px solid rgba(33, 33, 33, 0.2);
           border-radius: 4px;
           width: 100%;
           height: 120px;
           padding: 12px 16px;
           resize: none;
            &::placeholder {
            color: rgba(117, 117, 117, 0.5);
            }
            &:focus {
            outline: none;
            border: 1px solid $color-blue;
            }
        }
        &__profile-icon {
            position: absolute;
            left: 15px;
            top: 32px;
        }
        &__phone-icon {
           position: absolute;
           left: 15px;
           top: 32px;
        }
        &__email-icon {
           position: absolute;
           left: 15px;
           top: 32px;
        }
        &__statement {
           display: flex;
           align-items: center;
           font-size: 14px;
           font-weight: 400;
           color: $color-gray-text;
           line-height: 1.7;
           letter-spacing: 0.03em;
           margin-top: 10px;
           margin-bottom: 30px;
           height:24px;
            & a {
            display: inline-flex;
            text-decoration: underline;
            color: $color-blue;
            font-size: 14px;
            font-weight: 400;
            margin-left: 5px;
            margin-right: 5px;
            }
            &::before {
            display: inline-block;
            content: "";
            width: 16px;
            height: 15px;
            border: 1px solid $color-dark;
            border-radius: 2px;
            margin-right: 8px;
            }
        }
        &__checkbox:checked + &__statement::before {
           background-color: $color-blue;
           border: none;
           background-image: url(../images/check-mark.svg);
           background-repeat: no-repeat;
           background-position: center;
        }
        &__submit {
           font-size: 16px;
           font-weight: 700;
           padding-top: 15px;
           padding-bottom: 20px;
           text-align: center;
           color: $color-white;
           background-color: $color-blue;
           width: 200px;
           height: 50px;
           border: none;
           box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
           border-radius: 4px;
           align-self: center;
           cursor: pointer;
           transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
            transform: scale(105%);
            }
        }
}
.is-hidden {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
}